/* Logo final */
.logoF {
  display: flex;
  align-items: center;
}

.img-tiktok-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-tiktok {
  margin: 0 15px;
}

.logo2 {
  max-width: 100%;
  height: auto;
  margin-right: 100px;
}

.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text {
  margin-left: 70px;
}

/* Responsividad */
@media (max-width: 767px) {
  .text {
    margin-left: 0;
    text-align: center;
  }

  .img-tiktok-col {
    flex-direction: column !important;
    gap: 10px;
  }

  .logo2 {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .logo {
    margin-bottom: 15px;
  }

  .container-custom {
    padding: 0 15px;
  }
}

.dropdown-menu{
      width: auto; 
      background-color: #000000;
      min-width: 10px !important;
      text-align: center !important;
      border: tran;
      border-radius: 5px; 
    }


     .dropdown-item{
      font-size: 0.8rem; 
      padding: 0.25rem 1rem; 
      text-decoration: none;
      color: rgb(255, 255, 255) !important;
      background-color: transparent !important;
      border-radius: 10px; 
    }
    
    
 /**/
    .nav-item{
      padding-right: 50px;
      font-size: 18px;
    }
    
    


.dropdown-item:hover {
  background: linear-gradient(90deg, rgba(201,170,113,0.2), rgba(244,228,193,0.2)) !important;
  color: #c9aa71 !important;
  transform: translateX(5px);
}
