.imagen3{
    position: relative;
    width: 50%;
    left: 20%;
}
.imagen2{
    position: relative;
    width: 67%;
    left: 18%;

}

.imagen1{
    position: relative;
    width: 100%;

}

.navbar-expand-lg {
    margin: 0;
    padding: 20px 0;
}

.img-tiktok-col {
    padding: 0 10px;
}

.img-tiktok img {
    max-width: 50px;
    height: auto;
}

.logo2 {
    max-width: 200px;
    height: auto;
}

/*Cards */

.card {
  background-color: rgb(219, 209, 209);
  width: 250px;             /* Fija el ancho */
  margin: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card img {
  height: 200px;           /* Fija la altura */
  width: 100%;             /* Fija el ancho igual que la tarjeta */
  object-fit: cover;       /* Recorta sobrante */
  display: block;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
}

/* Titulo parte de abajo */
 html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.dropdown-menu{
      width: auto; 
      background-color: #000000;
      min-width: 10px !important;
      text-align: center !important;
      border: tran;
      border-radius: 5px; 
    }


     .dropdown-item{
      font-size: 0.8rem; 
      padding: 0.25rem 1rem; 
      text-decoration: none;
      color: rgb(255, 255, 255) !important;
      background-color: transparent !important;
      border-radius: 10px; 
    }
    
    
 /**/
    .nav-item{
      padding-right: 50px;
      font-size: 18px;
    }
    
    


.dropdown-item:hover {
  background: linear-gradient(90deg, rgba(201,170,113,0.2), rgba(244,228,193,0.2)) !important;
  color: #c9aa71 !important;
  transform: translateX(5px);
}
